@model IEnumerable<StoreManagement.BL.Domain.Company>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div id="companies" class="table"></div>

<div id="buttonContainer" ></div>

@section Scripts {
    <script src="/js/company/index.js" defer></script>
}